{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 21-11-2018 00:02
 # Licence: GPLv3 - General Public Licence version 3
 #
 # The student index page
 # ======================
 # This page holds the sceleton of the student accessable panels.
 #}

{% extends 'Base.html.twig' %}

{% block body %}
    <div class="container main">

        <div class="row">

            <ul class="pagination center">

                <li class="waves-effect <?php echo $actions; ?>">
                    <a href="{{ path('student_actions') }}">{{ 'student.index.pagination.actions'|trans([],'student') }}</a>
                </li>
                <li class="waves-effect <?php echo $infofeed; ?>">
                    <a href="{{ path('student_InfoFeed') }}">{{ 'student.index.pagination.infofeed'|trans([],'student') }}
                    </a>
                </li>
                <li class="waves-effect <?php echo $chat; ?>">
                    <a href="{{ path('student_chat') }}">{{ 'student.index.pagination.chat'|trans([],'student') }}</a>
                </li>
            </ul>

        </div>
        {% block StudentContent %}
        {% endblock %}
    </div>
{% endblock %}
