{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 09-12-2018 02:38
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% extends 'Base.html.twig' %}

{# Set the translation domain for this template, you can place the text on this page in ./translations/welcome #}
{% trans_default_domain 'welcome' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <p>{{ 'index.page.title'|trans }}</p>
                        </div>
                        <ul class="collection">

                            <li class="collection-item avatar">
                                <a href='{{ path('homepage_fy' ) }}'>
                                    <i class="material-icons circle">insert_link</i>
                                </a>
                                <h3>{{ 'index.link.fries'|trans }}
                                    <a href="{{ path('student_index' ) }}" class="secondary-content">
                                        <i class="material-icons black-text">send</i>
                                    </a>
                                </h3>
                            </li>

                            <li class="collection-item avatar">
                                <a href="{{ path('authentication_login' ) }}">
                                    <i class="material-icons circle">insert_link</i>
                                </a>
                                <p>{{ 'index.link.login'|trans }}
                                    <a href="{{ path('authentication_login' ) }}" class="secondary-content">
                                        <i class="material-icons black-text">send</i>
                                    </a>
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <a href='{{ path('teacher_index') }}'>
                                    <i class="material-icons circle">insert_link</i>
                                </a>
                                <p>{{ 'index.link.teacher'|trans }}
                                    <a href="{{ path('teacher_index') }}" class="secondary-content">
                                        <i class="material-icons black-text">send</i>
                                    </a>
                                </p>
                            </li>

                            <li class="collection-item avatar">
                                <a href='{{ path('student_index' ) }}'>
                                    <i class="material-icons circle">insert_link</i>
                                </a>
                                <p>{{ 'index.link.student'|trans }}
                                    <a href="{{ path('student_index' ) }}" class="secondary-content">
                                        <i class="material-icons black-text">send</i>
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
