{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 21-11-2018 00:02
 # Licence: GPLv3 - General Public Licence version 3
 #
 # The unauthorized index page
 # ===========================
 # This is the index of the Desk CriSim serious-game website.
 #}
{% extends 'Base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <p>Alle pagina's</p>
                        </div>

                        <ul class="collection">

                            <li class="collection-item avatar">
                                <a href='{{ path('teacher_index') }}'>
                                    <i class="material-icons circle">insert_link</i>
                                </a>
                                <p>Docent Panel
                                    <a href="{{ path('teacher_index') }}" class="secondary-content">
                                        <i class="material-icons black-text">send</i>
                                    </a>
                                </p>
                            </li>

                            <li class="collection-item avatar">
                                <a href='{{ path('student_index' )}}'>
                                    <i class="material-icons circle">insert_link</i>
                                </a>
                                <p>Student Panel
                                    <a href="{{ path('student_index' )}}" class="secondary-content">
                                        <i class="material-icons black-text">send</i>
                                    </a>
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12 m12">
                <div class="card large">
                    <div class="card-content">
                        <span class="card-title">Test Sessie zetten en gebruikerstype</span>
                        <form action="#" method="post">
                            <div class="input-field col s12">
                                <input id="usertype" type="text" name="usertype">
                                <label for="usertype">Gebruikerstype</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="sessionName" type="text" name="sessionName">
                                <label for="sessionName">Sessienaam</label>
                            </div>
                            <button class="btn waves-effect waves-light orange" type="submit" name="submit">Stuur
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>

                    <div class="card-content">

                        <div class="card-title"><p>Login Pagina</p></div>

                        <ul class="collection">
                            <li class="collection-item avatar">
                                <a href="{{ path('authentication_login' ) }}">
                                    <i class="material-icons circle">insert_link</i>
                                </a>
                                <p>Login Pagina
                                    <a href="{{ path('authentication_login' ) }}" class="secondary-content">
                                        <i class="material-icons black-text">send</i>
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
