{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 20-11-2018 22:24
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% block navigation %}
    <nav class="black" role="navigation">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">

                {# The home button. #}
                <a href="{{ path('homepage') }}" class="btn tooltipped black" data-position="bottom" data-tooltip="{{ 'tooltip.home'|trans }}">
                    <i class="material-icons">home</i>
                </a>

                {# If the user is authenticated add extra bottons to the menu#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    {# Display link to the profile page. #}
                    <a class="btn tooltipped black" data-position="bottom" data-tooltip="{{ user.name|default('no username') }}">
                        <i class="material-icons">person</i>
                    </a>

                    {# Display a logout button. #}
                    <a class='btn tooltipped black' data-position='bottom' data-tooltip='{{ 'tooltip.logout' }}' href='?logout=true'>
                        <i class="material-icons">exit_to_app</i>
                    </a>

                    {# Display the notifications dropdown. #}
                    <a class="btn tooltipped black" data-position="bottom" data-tooltip="{{ 'tooltip.notifications' }}">
                        <i class="material-icons">av_timer</i>
                    </a>
                {% else %}

                    {# The user is un authenticated so only show a login button. #}
                    <a class="btn tooltipped black" data-position="bottom" data-tooltip="{{ user.name|default('no username') }}" href="{{ path('user_login') }}">
                        <i class="material-icons">lock_open</i>
                    </a>
                {% endif %}

            </ul>
            <a href="{{ path('homepage') }}">
                <img class="brand-logo center" alt="Desk CriSim" src="{{ asset('build/static/logo.png') }}" style="margin-top: 0.1vh;"></a>
            <ul class='right'>
                {% if not "received anny notifications?" %}
                    <li>
                        <a>
                            <span class="new badge orange " data-badge-caption="!">$numNotifications</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %} {# navigation #}