{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 20-11-2018 23:23
 #
 # The teachers show partitipators page
 # ====================================
 # This shows the Teacher the participators for an given Game
 #}
{% extends 'Teacher/TeacherBase.html.twig' %}

{# Set the translation domain for this template, you can place the text on this page in ./translations/teacher #}
{% trans_default_domain 'teacher' %}

{% block TeacherContent %}
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <p>{{ 'add_participators.page.title' }}</p>
                    </div>

                    <div class="row">
                        <form class="col s12"> {# TODO replace with forms conponent #}

                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="name" type="text" class="validate">
                                    <label for="name">Naam</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="studentNumber" type="text" class="validate">
                                    <label for="studentNumber">Studentnummer</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate">
                                    <label for="studentNumber">Email</label>
                                </div>
                                <div class="input-field col s6">
                                    <select name="actor">

                                        <?php

                                        $actors = ["Politie", "Ambulance", "Brandweer", "Leger", "Burgermeester"];

                                        foreach ($actors as $actor) {
                                            $active = "";

                                            if (isset($_GET['actor'])) {


                                                $pageActive = $_GET['actor'];

                                                if ($pageActive == $actor) {
                                                    $active = "active";
                                                }
                                            } else {
                                                if ($actor == $actors[0]) {
                                                    $active = "active";
                                                }
                                            }

                                            echo "<option value=\"$actor\">$actor</option>";
                                        }

                                        ?>

                                    </select>
                                    <label>Actor selecteren</label>
                                </div>
                            </div>
                            <div class="row">

                                <button class="btn waves-effect waves-light orange" type="submit" name="action">toevoegen
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">

                    <div class="card-title">
                        <p>Deelnemerslijst</p>
                    </div>

                    <table class="striped responsive-table">

                        <thead>

                        <tr>
                            <th>Naam</th>
                            <th>Emailadres</th>
                            <th>Studentnummer</th>
                            <th>Online</th>
                            <th>Actor</th>
                        </tr>
                        </thead>


                        <tbody>

                        {%  for student in students %}

                            <tr>
                                <td>{{ student.name }}</td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.number }}</td>
                                <td><i class="material-icons {{ student.online }}">fiber_manual_record</i></td>
                                <td>{{ student.actor }}</td>

                            </tr>

                        {% endfor %}



                        {# for Student in students #}
                        <tr>
                            {#<td>Student</td>#}
                            {#<td>{{ Student.mail }}</td>#}
                            {#<td>{{ Student.studentId }}</td>#}
                            {#<td><i class="material-icons green-text">fiber_manual_record</i></td>#}
                            {#<td>{{ Student.type }}</td> #}{# Student.type|trans #}
                        </tr>
                        {# endfor #}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>

{% endblock %} {# TeacherContent #}